
!.env.example
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
.c9/
.cache/
.classpath
.cursor/rules/nx-rules.mdc
.DS_Store
.env
.env.*
.env.docker
.expo
.expo-shared
.github/instructions/nx.instructions.md
.local/
.project
.settings/
.vscode/*
*.launch
*.sublime-workspace
*.tsbuildinfo
/.idea
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
/typings
# compiled output
# dependencies
# Environment variables / secrets
# IDE - VSCode
# IDEs and editors
# misc
# Replit
# See https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files for more about ignoring files.
# System Files
dist
node_modules
npm-debug.log
out-tsc
testem.log
Thumbs.db
tmp
yarn-error.log
